extends layout

block content
  p
    a(href="/") Back to dashboard
  #hall(style="-webkit-transform: scale(0.3,0.3) rotate(90deg);")
    //- #test kjhgjhg
    #pir1.hold
      .pie
    #pir2.hold
      .pie
    #pir3.hold
      .pie
    #pir4.hold
      .pie
    #pir5.hold
      .pie
    #pir6.hold
      .pie
    #pir7.hold
      .pie
    #pir8.hold
      .pie
