extends layout

block content
  p
    a(href="/") Back to dashboard
  #slider
  #floor

  link(rel='stylesheet', href='/css/jquery-ui-1.10.1.custom.css')
  script(src='/js/vendor/jquery-ui-1.10.1.custom.js')
  script(src='/js/vendor/heatmap.js')
  script(type='text/javascript')
    $(function () {
      var config = {
        "radius": 60,
        "element": "floor",
        "visible": true,
        "opacity": 60,
        "gradient": { 0.3: "rgb(0,0,255)", 0.55: "rgb(0,255,255)", 0.65: "rgb(0,255,0)", 0.9: "yellow", 1.0: "rgb(255,0,0)" }
      };
      var xx = h337.create(config);
      var load_subdevice = function(id, cb) {
        // TODO: mash device into this list so we can pick the best device for a given subdevice
        var pir_subdevices = [
          "Fypdq",
          "NzFJs",
          "9gnKV",
          "MCxbw",
          "hFnwT",
          "gEsyw",
          "UaeJ5"];
        return $.getJSON('/rest/v0/device/2712BB000643_0_0_11/subdevice/' + pir_subdevices[id] + '/data?interval=10min', function(data, status) {cb(id, data)});
      };

      var datasets = [];
      for (i = 0 ; i < 7; i++) {
        load_subdevice(i, function(id, data) {
          datasets[id] = data.data;
        });
      }

      var load_heatmap = function(value) {
        // TODO: these coords are correct, but I'm not sure which PIR subdevices these map to.
        var data = {max: 90, data: [
          {x: 345, y: 264},
          {x: 629, y: 254},
          {x: 714, y: 260},
          {x: 776, y: 261},
          {x: 900, y: 320},
          {x: 411, y: 605},
          {x: 498, y: 606},
          {x: 580, y: 610},
        ]};

        var max = 90;
        for (d in data.data) {
          c = 0;
          // is there not a better way of doing this in js?
          if (datasets.length > d) {
            if (datasets[d].length > value) {
              c = datasets[d][value].v;
            }
          }
          data.data[d].count = c;
        }
        xx.store.setDataSet(data);
      };
      $("#slider").slider({
        slide: function(event, ui) { load_heatmap(ui.value); }
      });
    });
