extends layout

block content
  p
    a(href="/") Back to dashboard
  #slider
  #floor

  script(type='text/javascript')
    $(function () {
      var config = {
        "radius": 60,
        "element": "floor",
        "visible": true,
        "opacity": 60,
        "gradient": { 0.3: "rgb(0,0,255)", 0.55: "rgb(0,255,255)", 0.65: "rgb(0,255,0)", 0.9: "yellow", 1.0: "rgb(255,0,0)" }
      };
      var xx = h337.create(config);
      var load_subdevice = function(id, cb) {
        // TODO: mash device into this list so we can pick the best device for a given subdevice
        /*
        Downstairs: 2712BB000643_0_0_11
          "9gnKV" -> 2
          "hFnwT" -> 3
          "gEsyw" -> 4
          "NzFJs" -> 5
          "MCxbw" -> 6
          "UaeJ5" -> 7
          "Fypdq" -> 8

        Upstairs: 4312BB000564_0_0_11
          "gL9hK" -> 1
          "cWDR5" -> 2
          "Ibrv4" -> 3
          "Qog1K" -> 4
          "wZyiL" -> 5
          "IabpG" -> 6
          "BbQRl" -> 7
          "mZLsC" -> 8
        */

        var pir_subdevices = [
          "4312BB000564_0_0_11:gL9hK", // 1
          "2712BB000643_0_0_11:9gnKV", // 2
          "2712BB000643_0_0_11:hFnwT", // 3
          "4312BB000564_0_0_11:Qog1K", // 4
          "2712BB000643_0_0_11:NzFJs", // 5
          "4312BB000564_0_0_11:IabpG", // 6
          "2712BB000643_0_0_11:UaeJ5", // 7
          "2712BB000643_0_0_11:Fypdq", // 8
        ];
        var parts = pir_subdevices[id].split(':');
        return $.getJSON('/rest/v0/device/' + parts[0] + '/subdevice/' + parts[1] + '/data?interval=10min', function(data, status) {cb(id, data)});
      };

      var datasets = [];
      for (i = 0 ; i < 8; i++) {
        load_subdevice(i, function(id, data) {
          datasets[id] = data.data;
        });
      }

      var load_heatmap = function(value) {
        var data = {data: [
          {x: 515, y: 268}, // 1
          {x: 702, y: 267}, // 2
          {x: 629, y: 254}, // 3
          {x: 579, y: 268}, // 4
          {x: 369, y: 268}, // 5
          {x: 431, y: 264}, // 6
          {x: 782, y: 267}, // 7
          {x: 881, y: 301}, // 8
        ]};

        var max = 0;
        for (d in data.data) {
          var c = 0;
          // is there not a better way of doing this in js?
          if (datasets.length > d) {
            if (datasets[d].length > value) {
              c = datasets[d][value].v;
              max = Math.max(c, max);
            }
          }
          data.data[d].count = c;
        }
        data.max = max;
        xx.store.setDataSet(data);
      };
      xx.get("canvas").onclick = function(ev){
        console.log(h337.util.mousePosition(ev));
      };
      $("#slider").slider({
        animate: "fast",
        slide: function(event, ui) { load_heatmap(ui.value); },
        change: function(event, ui) { load_heatmap(ui.value); }
      });

      var nextSlide = function() {
        var v = $('#slider').slider('value');
        if (v < 99) {
          $('#slider').slider('value', v + 1);
        } else {
          clearInterval(interval);
        }
      }
      var interval = setInterval(function(){nextSlide();}, 500);
    });
