extends layout

block content
  script(type='text/javascript', src='/javascripts/chart.js')
  .row
    .small-10.columns
      h2(style="width:307px;display:inline-block")
        #titlePrefix0.titlePrefix hack
        #titlePrefix1.titlePrefix.hidden launch
        #titlePrefix2.titlePrefix.hidden ninj
        #titlePrefix3.titlePrefix.hidden every
        #titlePrefix4.titlePrefix.hidden life
        #titlePrefix5.titlePrefix.hidden launch
        #titlePrefix6.titlePrefix.hidden tild
        #titlePrefix7.titlePrefix.hidden sweet
        #tileSuffix.titleSuffix(onclick="drawDefault()",style="cursor:pointer") *alytics
      p.tagline If you don't count it, does it really exist?
      hr(style="margin-top:0")
    .small-2.columns#flare
      #heart
        i.foundicon-heart
      #plus
        i.foundicon-plus
  .row
    .large-8.columns
      .row
        .small-4.columns(onclick="drawWifi()",style="cursor:pointer")
          h4.subheader Wifi Clients Nearby
          #TotalWifi.stat 0
        .small-4.columns(onclick="drawServers()",style="cursor:pointer")
          h4.subheader Open Webservers
          #TotalServers.stat 0
        .small-4.columns(onclick="drawTweets()",style="cursor:pointer")
          h4.subheader Tweets per hour
          #TotalTweets.stat 0

      .row
        .large-12.columns
          #mainChart

      h4.subheader.boxHeading Wifi Device Vendors
      .boundingBox
        .row
          .small-3.columns
            h5.subheader Apple
            #apple.smallstat 0
          .small-3.columns
            h5.subheader HTC
            #htc.smallstat 0
          .small-3.columns
            h5.subheader LG
            #lg.smallstat 0
          .small-3.columns
            h5.subheader Samsung
            #samsung.smallstat 0
        .row(style="padding-top:10px")
          .small-3.columns
            h5.subheader ASUS
            #asustek.smallstat 0
          .small-3.columns
            h5.subheader Motorola
            #motorola.smallstat 0
          .small-3.columns
            h5.subheader Intel
            #intel.smallstat 0
          .small-3.columns
            h5.subheader Other
            #other.smallstat 0

    .large-4.columns
      h4.subheader.boxHeading(style="margin-top:30px") Environment
      .boundingBox(onclick="drawTemp()",style="cursor:pointer")
        .row
          .small-6.columns
            h6.center Upstairs
              h3
                span#UpTemp 0
                span.subheader &deg;C
              h3
                span#UpHumidity 0
                span.subheader %
          .small-6.columns.center
            h6.center Downstairs
              h3
                span#DownTemp 0
                span.subheader &deg;C
              h3
                span#DownHumidity 0
                span.subheader %

      h4.subheader.boxHeading Real-time Activity
      .boundingBox
        .row(style="height:504px")
          a(href="/floor")
            #hall.shrunk
              #pir1.hold
                .pie
              #pir2.hold
                .pie
              #pir3.hold
                .pie
              #pir4.hold
                .pie
              #pir5.hold
                .pie
              #pir6.hold
                .pie
              #pir7.hold
                .pie
              #pir8.hold
                .pie
  .row
    .large-4.columns
      h4.subheader Hacker Time-lapse
      .pane
        p pictures here.
    .large-8.columns
      h4.subheader Active Web Server Ports
      .boundingBox
        .row
          .small-3.columns
            h5.subheader Apache
            #80.smallstat 0
          .small-3.columns
            h5.subheader Node &amp; Rails
            #3000.smallstat 0
          .small-2.columns
            h5.subheader 4000
            #4000.smallstat 0
          .small-2.columns
            h5.subheader Sinatra
            #4567.smallstat 0
          .small-2.columns
            h5.subheader 8080
            #8080.smallstat 0