doctype 5
html
  head
    title= title
    script(src='/javascripts/jquery-1.9.1.min.js')
    script(src='/javascripts/pusher.min.js')
    script(src='/javascripts/ninja.js')

    script(src='/javascripts/app.js')
    script(src='/javascripts/app.utils.js')

    link(rel='stylesheet', href='/stylesheets/animate.min.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/general_foundicons.css')
    script(src='/js/vendor/custom.modernizr.js')
    script(type='text/javascript', src='https://www.google.com/jsapi')

    script(src='/js/foundation.min.js')
    script(src='/javascripts/jquery.reveal.js')

    script(type='text/javascript', src='/javascripts/underscore-min.js')
    script(src='/javascripts/moment.min.js')

    link(rel='stylesheet', href='/css/jquery-ui-1.10.1.custom.css')
    script(src='/js/vendor/jquery-ui-1.10.1.custom.js')

    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
    script
      App.user = !{JSON.stringify(user)};
      ninja = new Ninja({
        server: '',
        version: 0,
        accessToken: ''
      });
      $(document).on('ready', App.init);
