extends layout

block content
  p
    a(href="/") Back to dashboard

  #date

  #screenshot-container
    #slider
    br

    ul.js-screenshot-list.screenshot-list.small-block-grid-1.centered

  script
    $(document).on('ready',function() {
      App.fetchImages();
      $("#slider").slider({
        slide: function(event, ui) { App.updateScreenshots(ui.value); }
      });

    });